.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 100%;
  white-space: nowrap;
}

.mainflex {
  display: flex;
  align-items: center;
  background-color: transparent;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

#nav-links {
  margin: auto;
}

ul {
  padding-inline-start: 0;
}

ul li {
  display: inline-block;
  padding: 0 20px;
  white-space: nowrap;
}

html {
  margin: 0;
  padding: 0;
  max-height: 100vh;
  max-width: 100vw;
  overflow: hidden;
}

#particles canvas{
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
}